footer {
    padding: 50px;
    width: 100%;
    background-image: url(../images/fotofooter.png);
    background-size: cover; 
} 

.contenedor__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}
.box__footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    & h4 {
        margin-bottom: 65px;
        color: $fuentefooter3;
        font-size: 40px;
        font-weight: 100px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    & a {
        /* color: $fuentefooter3; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 15px;
        font-size: 20px;
    }
    & a:hover {
        color: $fuentefooter    ;
        transform: translateY(-10%);
    }
}
.footer--logo img {
    width: 250px;
    }
.footer--terms {
    max-width: 350px;
    color: $fuentefooter3;
    text-align: center;
    margin-top: 10px;
}
.fa-brands {
    font-size: 30px;
    color: $fuentefooter3;
    &:hover {
    color: white;
    }
}
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    & p {
        color: $fuentefooter;
    }
    & b {
        color: $fuentefooter2;
    }
}
$footerindex: (
    remeras: $fuentefooter,
    calzas: $fuentefooter2,
    buzos: $fuentefooter3,
);
@each $nombre, $color in $footerindex {
    .link-#{$nombre} {
        color: $color;
    }
}

