.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.formulario {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 30px;
}

.mensaje__img img {
    max-width: $maxwidth4;
    border-radius: 5px;
}
.form1 {
    display: block;
    max-width: $maxwidth4;
    justify-content: center;
    align-content: center;
    & label {
        font-family: 'Roboto Mono', monospace;
        font-size: large;
        display: block;  
    }
}
